$bgtime:green;
$iconColor:#63FFBA;
$iconHover:#28BB76;

@font-face {
  font-family:DigitalTech;
  src:url('../fonts/Digital_tech.otf') format('opentype');

}
 @font-face{
   font-family:Ziplap;
   src:url('/fonts/ZILAP_GEOMETRIK_DEMO.ttf') format('truetype');
 }
#WebDev{
  font-family: Ziplap !important;
}

#name,#work{
  font-family: DigitalTech;
}
.container{

  margin:0 auto;
  text-align: center;
}
 i{
   color:$iconColor;

 }

 i:hover{
   color:$iconHover;
 }
