$bgtime:green;
$iconColor:#63FFBA;
$iconHover:#28BB76;

@font-face {
  font-family:DigitalTech;
  src:url('../fonts/Digital_tech.otf');
}

#WebDev{
  font-family: DigitalTech !important;
}
.container{

  margin:0 auto;
  text-align: center;
}
 i{
   color:$iconColor;

 }

 i:hover{
   color:$iconHover;
 }
